VOLUMNS_PATH=./.volumns
CONTAINER_PREFIX=expression-cloud

## dev
MYSQL_CONTAINER_NAME=dev.mysql
MYSQL_PORT=3306

MYSQL_ROOT_PASSWORD=root_password
MYSQL_SCHEME=expression_cloud
MYSQL_USER=user
MYSQL_PASSWORD=password

REDIS_CONTAINER_NAME=dev.redis
REDIS_PORT=6379

